.planet-container {
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 24px;
}
.planet-container .main-image {
  width: 111px;
  height: 111px;
}
.overviev-container {
  display: none;
}
.planet-info-container {
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
  padding-inline: 24px;
  margin-bottom: 47px;
  margin-top: 28px;
}
.planet-info-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 9px 24px;
}
.planet-info-container > div > h5 {
  font-family: "League Spartan", sans-serif;
  color: #fff;
  opacity: 0.5;
  font-size: 8px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.727px;
  text-transform: uppercase;
}
.planet-info-container > div > span {
  font-family: Antonio;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.75px;
  text-transform: uppercase;
}
.planet-container > img {
  width: 111px;
}
.information-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
  gap: 16px;
}
h1 {
  color: #fff;
  text-align: center;
  font-family: Antonio;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
p {
  color: #fff;
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
}
.information-about > span,
.information-about > span > a {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.5;
}
.information-about > span > a {
  text-decoration: underline;
}
.planet-container .surface-image {
  position: absolute;
  top: 70px;
  width: 50px;
  height: 60px;
}
.planet-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 700px) {
  .planet-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .planet-container .main-image {
    width: 180px;
    height: 180px;
  }
  .planet-container .surface-image {
    position: absolute;
    top: 130px;
    width: 50px;
    height: 60px;
  }
  .info-overview {
    width: 100%;
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .information-about {
    margin: 0px;
    align-items: start;
  }
  p {
    text-align: start;
    width: 339px;
  }
  .overviev-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .overviev-container > button {
    font-family: "League Spartan", sans-serif;
    width: 281px;
    height: 40px;
    color: #fff;
    font-size: 9px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1.929px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .overviev-container > button:hover {
    cursor: pointer;
    background: rgba(216, 216, 216, 0.2);
  }
  .mercury-buttons:focus {
    cursor: pointer;
    background-color: #419ebb;
    opacity: 100%;
    color: #fff;
  }
  .venus-buttons:focus {
    cursor: pointer;
    background-color: #eda249;
    opacity: 100%;
    color: #fff;
  }
  .earth-buttons:focus {
    cursor: pointer;
    background-color: #6d2ed5;
    opacity: 100%;
    color: #fff;
  }
  .mars-buttons:focus {
    cursor: pointer;
    background-color: #d14c32;
    opacity: 100%;
    color: #fff;
  }
  .jupiter-buttons:focus {
    cursor: pointer;
    background-color: #d83a34;
    opacity: 100%;
    color: #fff;
  }
  .saturn-buttons:focus {
    cursor: pointer;
    background-color: #cd5120;
    opacity: 100%;
    color: #fff;
  }
  .uranus-buttons:focus {
    cursor: pointer;
    background-color: #1ec1a2;
    opacity: 100%;
    color: #fff;
  }
  .neptune-buttons:focus {
    cursor: pointer;
    background-color: #2d68f0;
    opacity: 100%;
    color: #fff;
  }
  .planet-info-container {
    grid-template-columns: auto auto auto auto;
  }
  .planet-info-container > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 16px 64px 19px 15px;
  }
  .planet-info-container > div > span{
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px){
  .planet-info-container > div > h5{
    font-size: 11px;
  }
  .planet-info-container > div > span{
    font-size: 40px;
  }
  .planet-container{
    flex-direction: unset;
    padding-inline: 165px;
  }
  .info-overview{
    flex-direction: column;
  }
  .planet-container .main-image{
    width: 490px;
    height: 490px;
  }
  .information-about{
    gap: 24px;
  }
  .info-overview{
    margin-top: 0;
    height: 100vh;
    justify-content:center;
    gap: 39px;
  }
  p{
    width: 350px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
  .overviev-container > button{
    width: 350px;
    height: 48px;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2.571px;
  }
  .overviev-container{
    width: auto;
  }
  h1{
    font-size: 80px;
    font-weight: 400;
  }
  .information-about > span, .information-about > span > a{
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
  .planet-container .surface-image{
    width: 158px;
    height: 185px;
    top: 40vh;
  }
  .planet-info-container{
    padding-inline: 165px;
    gap: 30px;
  }
  .planet-info-container > div{
    padding: 20px 92px 27px 23px;
  }
}